@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-path {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 60% 100%);
}

.clip-path-inner {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 58% 100%);
}

.hero-shadow {
  box-shadow: 0px 0px 30px -8px rgba(34, 60, 80, 0.51);
}


.input-animation {
  transition: .1s;
  animation: shit .3s ease-in-out;
}

@keyframes shit {
  0% {
    transform: rotateZ(3deg);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(3deg);
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(18, 190, 190);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(79, 158, 189);
}
